.heroWrapper {
  position: relative;
  width: 100%;
  height: 500px;
}

.heroImage {
  object-fit: cover;
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.heroOverlay h1 {
  font-size: 48px;
  margin: 0;
}

.heroOverlay p {
  font-size: 24px;
  margin-top: 16px;
}
